* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #03a3df;
  padding: 2rem;
}

footer {
  background-color: #03a3df;
  background-image: url(/images/footerImage.jpg);
  background-size: cover;
  padding: 2rem;
}